<html>
	<head>
	 <script src="angular.min.js"></script>
	 <script src="keys.js"></script>
	 <script src="https://code.angularjs.org/1.2.1/angular-sanitize.min.js"></script>
	 <link href=bootstrap.min.css rel=stylesheet></link>
	</head>
	<body ng-app="appX"  ng-controller="appCtrl" ng-init="init()">
		<div class="row" ng-show="isAllow()">
			<div class="col-md-4">
				<textarea cols="70" rows="30" ng-model="keystext"></textarea>
			</div>
			<div class="col-md-2">
				<select ng-model="origem">
					<option value="1">Bundlestars</option>
					<option value="2">Gogobundle</option>
					<option value="3">Remove Keys</option>
					<option value="4">Remove Descs</option>
					<option value="5">Keys Repeat</option>
					<option value="6">Descs Repeat</option>
					<option value="7">Adicionar Games</option>
					<option value="8">Adicionar Keys</option>
					<option value="9">Buscar Games</option>
					<option value="12">Buscar Keys</option>
					<option value="10">Listar Random Games</option>
					<option value="13">Listar Random Games(Maior que)</option>
					<option value="14">Listar Random Games Not Contains</option>
					<option value="18">Listar Valor Minimo</option>
					<option value="16">Listar Catalogo</option>
					<option value="11">Gerar Reedem Code</option>
					<option value="15">Gerar Texto Confirmação eBay</option>
				</select>
				<div ng-show="origem == 1">
					<input type="checkbox" ng-model="withkeys">With Keys</input>
				</div>
				<div ng-show="origem == 16">
					<input type="checkbox" ng-model="formatBRL">Format BRL</input>
					<br/>
					<input type="checkbox" ng-model="formatUSD">Format USD</input>
				</div>
				<br>
				<button ng-click="parse()">Execute Action</button>
				<button ng-if="result" ng-click="copyAll()">Copy All</button>
				<button ng-if="habilitaDeleteKeys()" ng-click="desativarKeys()">Delete All</button>
			</div>
			<div ng-if="valorTotal">
				Total:{{valorTotal}}
			</div>
			<pre id="result" class="col-md-4" ng-bind-html="result" />     
		</div>
		<div class="row" ng-show="isAllow()">
			Quantidade: {{countKeys}}
			Distintos: {{countDiffKeys}}
		</div>
	</body>
</html>