<html>
	<head>
	 <script src="angular.min.js"></script>
	 <script src="keys.js"></script>
	 <script src="https://code.angularjs.org/1.2.1/angular-sanitize.min.js"></script>
	 <link href=bootstrap.min.css rel=stylesheet></link>
	</head>
	<body ng-app="appX">
	<div ng-controller="appCtrl">
	 <div class="row">
			<div class="col-md-4">
				<textarea cols="70" rows="30" ng-model="keystext"></textarea>
			</div>
			<div class="col-md-2">
				<select ng-model="origem">
					<option value="1">Bundlestars</option>
					<option value="2">Gogobundle</option>
					<option value="3">Remove Keys</option>
					<option value="4">Remove Descs</option>
					<option value="5">Keys Repeat</option>
					<option value="6">Descs Repeat</option>
					<option value="7">Adicionar Games</option>
					<option value="8">Adicionar Keys</option>
					<option value="9">Buscar Games</option>
					<option value="10">Listar Random Games</option>
					<option value="11">Gerar Reedem Code</option>
				</select>
				<input type="checkbox" ng-show="origem == 1" ng-model="withkeys">With Keys</input>
				<br>
				<button ng-click="parse()">Execute Action</button>
				<button ng-if="result" ng-click="copyAll()">Copy All</button>
				<button ng-if="habilitaDeleteKeys()" ng-click="desativarKeys()">Delete All</button>
			</div>
			<pre id="result" class="col-md-4" ng-bind-html="result" />     
			</div>
	 </div>
	</div>
	</body>
	</html>